/* Фон на всех страницах */
body {
    background-color: #f8f8f8;
}

/* Меню сайта */
.menu li a {
    /* цвет текста */
    color: green;
    /* размер шрифта */
    font-size: 20px;
    /* убираем декорацию текста (а именно подчёркивание) */
    text-decoration: none;       
}

.menu :hover {
    background: #f0f0f0;
}

.menu li{
    /*убираем точки у элементов списка*/
    list-style-type: none;
    /*генерирует блочный элемент, который обтекается другими элементами веб-страницы подобно встроенному элементу*/
    display: inline-block;   
    margin-right: 20px; 
}

/*Заголовки.*/
h2 {
    /*цвет шрифта*/
    color: black;
    /*размер шрифта*/
    font-size: 18px;
    /*насыщенность шрифта*/
    font-weight: 400;
    /*цвет фона*/
    background: #eaeaea;
    /*центрирование строк текста*/
    text-align: center;
}

/*Краткое описание*/
.short_description {
    /*цвет шрифта*/
    color: #707070;
    /*размер шрифта*/
    font-size: 14px;
    /*начертание шрифта italic*/
    font-style: italic;
    margin-top: 30px;
}


/*Подробное описание*/
.detailed_description {
    /*цвет шрифта*/
    color: #484343;
    /*размер шрифта*/
    font-size: 16px;
    /*насыщенность шрифта*/
    font-weight: 400;
    /*расположение текста по левому краю*/
    text-align: left;
    /*высота текста*/
    line-height: 24px;
}

/*список характеристик*/
.list {
    /*цвет шрифта*/
    color: #479a2e;
    /*размер шрифта*/
    font-size: 14px;
    /*насыщенность шрифта*/
    font-weight: 400;
    /*расположение текста по левому краю*/
    text-align: left;
    /*высота текста*/
    line-height: 24px;
    /*устанавливаем изображение в качестве маркера*/
    list-style-image: url(img/Маркер.png)
}


/*стиль полей ввода*/
input[type="text"] {
    width:  200px;
    height: 15px;
    padding: 5px 5px 5px 5px;
    border:1px solid #999;
    font-size:16px;
    font-family: Tahoma;
    background-color: rgba(127, 206, 255, 0.35);
}

textarea[type="text"] {
    font-size:16px;
    padding: 5px 5px 5px 5px;
    border:1px solid #999;
    font-family: Tahoma;
    background-color: rgba(127, 206, 255, 0.35);
}

.select select {
    border:1px solid #999;
    font-size:16px;
    font-family: Tahoma;
    background-color: rgba(127, 142, 255, 0.41);
}


/*Псевдокласс: hover. Определяет стиль элемента при наведении на него курсора мыши*/
.menu li a:hover {
    color: rgb(0, 221, 0);
}

/*Псевдокласс :active определяет стиль для активной ссылки. Активной ссылка становится при нажатии на нее.*/
.menu li a:active {
    color: blue;
}


/*изменение цвета текста и поля при вводе в поле "E-mail"*/
.e_mail:focus {
    color: blue;
    background-color: rgba(127, 206, 255, 0.84);
}


/* Применил только для поля "Имя", для других полей считаю нецелеобразным*/
.capitalize {
    text-transform: capitalize;
}


/*Таблица с общими характеристиками*/
table {
    border: 2px solid black;
    width: 1150px;
    height: 10px;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    text-align: center
}


/*каждая буква каждого параграфа имеет свой стиль*/
p:first-letter {
    font-family: "Times New Roman", Times, serif; /* Гарнитура шрифта первой буквы */
    font-size: 200%; /* Размер шрифта первого символа */
    color: green; /* Красный цвет текста */
}

.container {
    width: 1200px;
    /*выравнивание блока по центру*/
    /*margin - отступ*/
    /*0 - сверху и снизу*/
    /*auto - слева и справа*/
    margin: 0 auto;
}


.header_title {
    height: 750px;
    background: #DFDFDF;
    border: 1px solid #B5B7BA;
    padding: 5px 5px 5px 5px;
    background-image: url(img/%D0%A4%D0%BE%D0%BD.jpg);

}

.header {
    background: #DFDFDF;
    border: 1px solid #B5B7BA;
    padding: 5px 5px 5px 5px;
    background-image: url(img/%D0%A4%D0%BE%D0%BD.jpg);

}

.logo {
    margin: 20px 40px 20px 40px;
    float: left;
    outline: none;
}

.logo:hover {
    background: #ccc;
    border-radius: 15px;
}

.menu {
    margin-top: 50px;
    text-align: right; 
}

/*рамка для изображений на всех страницах*/
.photo {
    outline: 2px solid green;
    display: block;
    margin: auto;
}

.photo_catalog {
    outline: 2px solid green;
    margin: 10px 15px 10px 10px;
    float: left;
}

.clear {
    clear: both;
}

/*исчезание рамки на странице подробного описания*/
.photo_catalog:hover {
    outline: none;
}

.footer {
    background: #808080;
    height: 25px;
    text-align: right;
    padding-top: 30px;
    padding-right: 30px; 
}

.price {
/*    background-color: red;*/
    overflow: hidden;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
}

.button {
    font-size: 15px;
    background: #009300;
    color: white;
    font-weight: 700;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 10px 0px 0px 410px;
}

/*эффект наведения*/
.button:hover { 
    background: rgb(53, 167, 110); 
}

/*эффект нажатия*/
.button:active {
  background: rgb(0, 116, 58);
}

/*карточка товара*/
.card_product {
    width: 49%;
    height: 400px;
    outline: 1px solid black;
    margin: 5px;
    float:left;
}

/*Изменить значение прозрачности изображения*/
.transparent {
    opacity: 0.7;
}