table {
    border: 1px solid #000;
    width: 400px;
    height: 200px;
    border-collapse: collapse;    /*отображение одной линии между ячейками*/
}


td {
    border: 1px solid #000;
    text-align: center;    /*определяет горизонтальное выравнивание текста в пределах элемента*/
}

/*задаю высоту верхней строки таблицы*/
tr:first-of-type {
    height: 15%;
    background-color:gainsboro;
}
